<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cloneinstagram">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PostActivity"
            android:parentActivityName=".activity.FiltersActivity"/>
        <activity android:name=".activity.FiltersActivity"
            android:parentActivityName=".activity.MainActivity"/>
        <activity
            android:name=".activity.ProfileActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MyProfileActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>